In [1]:
import pandas as pd
import numpy as np
import rpy2.robjects as robjects
import rpy2.robjects as ro
from rpy2.robjects import pandas2ri

pandas2ri.activate()

In [2]:
# Defining the R script and loading the instance in Python
r = robjects.r
r['source']('exec_problem.R')

# Loading the function we have defined in R.
exec_function_r = robjects.globalenv['hydro_prob']

R[write to console]: Loading required package: readr

R[write to console]: Loading required package: hydroGOF

R[write to console]: Loading required package: zoo

R[write to console]:
Attaching package: ‘zoo’


R[write to console]: The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [12]:
result_files = [
    "config0_MSE.csv",
    "config1_MSE.csv",
    "config2_MSE.csv",
    "config3_MSE.csv",
    "config0_NSE.csv",
    "config1_NSE.csv",
    "config2_NSE.csv",
    "config3_NSE.csv",
    "config0_R2.csv",
    "config1_R2.csv",
    "config2_R2.csv",
    "config3_R2.csv",
    "config0_KGE.csv",
    "config1_KGE.csv",
    "config2_KGE.csv",
    "config3_KGE.csv",
]

import os

df = pd.DataFrame(columns=["model", "target", "MSE", "RMSE", "NSE", "R2", "KGE"])
for file_name in result_files:
    print(file_name, "Yes" if os.path.exists(file_name) else "No")
    params = np.loadtxt(file_name, delimiter=",", max_rows=1)
    model = int(file_name[6])
    target = file_name.split(".")[0][8:]
    metrics = exec_function_r(model, params) 
    df.loc[len(df)] = [model, target, metrics[0][0], metrics[1][0], metrics[3][0], metrics[4][0], metrics[5][0]]

config0_MSE.csv Yes
[1] 15
config1_MSE.csv Yes
[1] 15
config2_MSE.csv Yes
[1] 19
config3_MSE.csv Yes
[1] 19
config0_NSE.csv Yes
[1] 15
config1_NSE.csv Yes
[1] 15
config2_NSE.csv Yes
[1] 19
config3_NSE.csv Yes
[1] 19
config0_R2.csv Yes
[1] 15
config1_R2.csv Yes
[1] 15
config2_R2.csv Yes
[1] 19
config3_R2.csv Yes
[1] 19
config0_KGE.csv Yes
[1] 15
config1_KGE.csv Yes
[1] 15
config2_KGE.csv Yes
[1] 19
config3_KGE.csv Yes
[1] 19

In [16]:
df.sort_values("NSE")

    model target         MSE       RMSE       NSE        R2       KGE
10      2     R2  127.772033  11.303629  0.706485  0.797500  0.762755
11      3     R2  123.721297  11.123008  0.715790  0.797459  0.791368
8       0     R2  120.044109  10.956464  0.724238  0.798708  0.798490
9       1     R2  120.022502  10.955478  0.724287  0.798708  0.798423
15      3    KGE  117.420481  10.836073  0.730265  0.756038  0.866077
14      2    KGE  112.691396  10.615620  0.741128  0.762095  0.871658
13      1    KGE  111.567287  10.562542  0.743710  0.763218  0.872408
2       2    MSE  109.693213  10.473453  0.748015  0.762801  0.861180
1       1    MSE  109.288977  10.454137  0.748944  0.764088  0.858547
5       1    NSE  109.289179  10.454146  0.748944  0.764161  0.858808
12      0    KGE  100.445042  10.022227  0.769260  0.783192  0.884386
4       0    NSE   95.582747   9.776643  0.780430  0.785118  0.853483
0       0    MSE   95.582342   9.776622  0.780431  0.785076  0.853350
3       3    MSE   95.428769   9.768765  0.780783  0.784526  0.859354
7       3    NSE   95.424830   9.768563  0.780792  0.784559  0.859337
6       2    NSE   95.416016   9.768112  0.780813  0.784550  0.859218